body {
    background-color: #21242a;
    margin-left: 24px;
    color: #f5f5f5;
    border-radius: 2px;
}

h1 {
    font-size: 42px;
    text-align: center;
    color: #f5f5f5;
    border: 1px red;
}
main {
    font-size: 12px;
    color: #f5f5f5;
}


p {
    border-width: 12px;
    border: rgb(45, 64, 105);
    background-color:#161921 ;
    border-style: solid;
    padding: 6px 12px 12px 12px;
    
}